<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dungdt_faq_faq_listing_data_soucre" xsi:type="string">DungDt\Faq\Model\ResourceModel\Faq\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="DungDt\Faq\Model\ResourceModel\Faq\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faqs</argument>
            <argument name="resourceModel" xsi:type="string">DungDt\Faq\Model\ResourceModel\Faq</argument>
        </arguments>
    </virtualType>
</config>